<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/footer.css">

    <title>Title</title>
</head>
<body>
<footer class = "footer">
    <div class = "footer-content">
        <div class="creators">
            Made By:<br>
            <p style="text-align: left">
            -> Mateusz Guzy
            Rafał Golasz<br>
            -> Krzysztof Bicz
            Dawid Kuś<br>
            </p>
        </div>
    </div>
</footer>
</body>