<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Title</title>
</head>
<body>
<header class="header">
    <div class="header-content">
        <a href="/" class="home-link">
            <div class="logo-container">
                <i class="gg-airplane"></i>
                <p>FlightAlright</p>
            </div>
        </a>
        <a href="/flights" class="flights-link">
            <p>Spis lotów</p>
        </a>
        <a th:if="${'ADMIN'}" href="/admin" class="admin-link">
            <p>Panel Administracyjny</p>
        </a>
        <div class="button-container">
            <div th:if="${session.loggedInUser != null}" class="lbx">
                <span th:text="${session.loggedInUser.getUsername()}"></span>
                <div class="panel">
                    <a href= "/user-data" class="panel-item">Dane użytkownika</a>
                    <a href="/your-reservations" class="panel-item">Historia Rezerwacji</a>
                    <a href = "/logout" class="logout-link"> <div class = "panel-item">Wyloguj</div></a>
                </div>
            </div>
            <a th:if="${session.loggedInUser == null}" href="/login">
                <button class="button button-zaloguj">Zaloguj</button>
            </a>
        </div>
    </div>
</header>
</body>
</html>
