<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <title>Title</title>
    <style>
        .listbox {
            display: none;
        }
    </style>
</head>
<body>
<header class="header">
    <div class="header-content">
        <a href="/" class="home-link">
            <div class="logo-container">
                <img src="https://tse2.mm.bing.net/th/id/OIG1.hk5gzcFTpG0PLZ3n9xV6?pid=ImgGn" alt="" class="logo">
            </div>

        </a>
        <a href="/flights" class="flights-link">
            <p>Spis lotów</p>
        </a>

        <div class="button-container">
            <div th:if="${session.loggedInUser != null}" class="listbox">
                <span th:text="${session.loggedInUser.getUsername()}"></span>
                <div class="panel">
                    <div class="panel-item">Dane użytkownika</div>
                    <div class="panel-item">Historia Rezerwacji</div>
                    <a href = "/logout" class="logout-link">
                    <div class = "panel-item">Wyloguj</div>
                    </a>
                </div>
            </div>
            <a th:if="${session.loggedInUser == null}" href="/login">
                <button class="button button-zaloguj">Zaloguj</button>
            </a>

        </div>
    </div>
</header>
</body>

</html>
