<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <title>Title</title>
    <style>
        .listbox {
            display: none; /* Ukryj listbox na początku */
        }
    </style>
</head>
<body>
<header class="header">
    <div class="header-content">

        <a href="/" class="home-link">
            <p>FlightAlright</p>
        </a>
        <a href="/flights" class="flights-link">
            <p>Spis lotów</p>
        </a>

        <div class="button-container">
            <div th:if="${session.loggedInUser != null}" class="listbox">
                <span th:text="${session.loggedInUser.getUsername()}"></span>
                <div class="panel">
                    <div class="panel-item">Dane użytkownika</div>
                    <div class="panel-item">Historia Rezerwacji</div>
                    <div class="panel-item">Opcja 3</div>
                    <div class="panel-item">Opcja 4</div>
                    <div class="panel-item">Opcja 5</div>
                </div>
            </div>
            <a th:if="${session.loggedInUser == null}" href="/login">
                <button class="button button-zaloguj">Zaloguj</button>
            </a>
            <a th:if="${session.loggedInUser != null}" href="/logout">
                <button class="button button-red">Wyloguj</button>
            </a>
        </div>
    </div>
</header>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const listbox = document.querySelector(".listbox");
        const panel = document.querySelector(".panel");

        listbox.addEventListener("click", function () {
            panel.style.display = panel.style.display === "block" ? "none" : "block";
        });
    });
</script>
</html>
