* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/468/358/original/flat-airplane-icon-on-blue-background-free-vector.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 480px;
    border-radius: 10px;
    margin-top: 70px;
}

.card {
    flex: 1;
    border-radius: 20px;
    background-color: #68BBE3;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 50%;
}

.card-details span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    color: #000;
    right: 10px;
    top: 15px;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-details i {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #ffffff;
    font-size: 18px;
    justify-content: center;
}

.top-row {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.top-row h1 {
    margin-bottom: 10px;
}

.top-row .sub-header {
    margin-top: 10px;
    font-weight: bold;
}

.card-details {
    margin-bottom: 20px;
}

.card-details label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}

.card-details input, .card-details select {
    height: 50px;
    width: 100%;
    font-size: 18px;
    caret-color: white;
    background-color: #4395DC;
    color: white;
    padding: 0 20px 0 50px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border: none;
}

.card-details input::placeholder {
    color: #ddd;
}

.card-details select {
    background-color: #4395DC;
    color: white;
}

.add-aircraft, .add-flight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: 17px;
    color: #fff;
    border-radius: 10px;
    background-color: #5a77e6;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
}

.add-aircraft:hover, .add-flight:hover {
    background-color: #4395DC;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
    display: block;
    clear: both;
}

.message{
    color: white;
    text-align: center;
}

.sub-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: 17px;
    color: #fff;
    border-radius: 10px;
    background-color: #5a77e6;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
}

.sub-header:hover
{
    background-color: #4395DC;
}
