* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    display: flex;

    padding-top: 60px;
    background-image: url("https://www.shutterstock.com/image-vector/airplane-flight-pattern-white-background-600nw-1764763985.jpg");
    color: #333;
}

.info {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    padding: 15px 30px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font: 15px Arial, sans-serif, bold;
}

.flights-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60vh;
    max-width: 1200px;
}

.ico {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flights {
    flex: 1 1 30%;
    padding: 20px;
    margin: 10px;
    border: 5px solid #68BBE3;
    border-radius: 5px;
    background-color: #4395DC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flight-info div, .flight-info div strong, .flight-info div span {
    margin: 5px 0;
    color: #fff;
}

.flight-info form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #68BBE3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.flight-info form button:hover {
    background-color: #4395DC;
}



.logged-user {
    position: absolute;
    top: 80px;
    right: 10px;
    color: black;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flight-info form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #68BBE3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.flight-info form button:hover {
    background-color: #007bff;
}

.flight-info form button span {
    color: #fff;
}
