@import url('https://unpkg.com/css.gg@2.0.0/icons/css/airplane.css');

.header {
    position: fixed;
    background-color: #4395DC;
    color: #fff;
    padding: 10px;
    top: 0;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.home-link p,
.flights-link p {
    margin: 0;
    font-size: 24px;
}

.button-container {
    margin-left: auto;
}

.home-link,
.flights-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.home-link:hover,
.flights-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

a button {
    color: #fff;
    background-color: #4395DC;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
}

a button:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.listbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 45px;
    background-color: #ffffff;
    color: black;
    border: none;
    margin-right: 10px;
    font: 15px Arial, sans-serif, bold;
}

.listbox:hover .panel {
    display: block;
}

.panel {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #4395DC;
    border-radius: 5px;
    padding: 10px;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.panel-item {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.panel-item:hover {
    background-color: #007bff;
    border-radius: 5px;
}
span {
    font: 15px Arial, sans-serif, bold;
    margin-bottom: 10px;
    color: #000000;
}
.button-zaloguj{
    padding: 15px 30px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font: 15px Arial, sans-serif, bold;
}
.button-zaloguj:hover{
    background-color: #007bff;
    border-radius: 5px;
    outline: dashed #0049a1;
}
.logout-link .panel-item {
    background-color: #f0f0f0;
    color: #000;
}
.logout-link:hover .panel-item {
    background-color: #9d0000;
    color: #fff;
    border-color: #9d0000;
}
.logout-link {
    text-decoration: none;
    color: inherit;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px
}

.listbox {
    display: none;
}

.gg-airplane {
    margin: 5px;
}