.header {
    position: fixed;
    background-color: #4395DC;
    color: #fff;
    padding: 10px;
    top: 0;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.home-link p,
.flights-link p {
    margin: 0;
    font-size: 24px;
}

.button-container {
    margin-left: auto;
}

.home-link,
.flights-link {
    text-decoration: none; /* usuń domyślne podkreślenie */
    color: #fff; /* zmień kolor na biały */
    display: flex; /* użyj flexbox */
    align-items: center; /* wyśrodkuj w pionie */
    padding: 10px 20px; /* dodaj odstępy wokół odnośnika */
}

.home-link:hover,
.flights-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* zmień kolor tła po najechaniu myszką */
    border-radius: 5px; /* zaokrągl brzegi */
}

a button {
    color: #fff;
    background-color: #4395DC;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
}

a button:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.2); /* zmień kolor tła po najechaniu myszką */
    border-radius: 5px; /* zaokrągl brzegi */
}