* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/468/358/original/flat-airplane-icon-on-blue-background-free-vector.jpg'); /* Dodaj ścieżkę do obrazu */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #333;
}

.container {
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 500px;
    width: 320px;
    border-radius: 10px;
    background-color: #68BBE3;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.top-row {
    color: #fff;
}

.top-row p {
    padding-bottom: 20px;
}

.card-details {
    position: relative;
    display: flex;
    padding-bottom: 20px;
}

.card-details input {
    height: 50px;
    width: 100%;
    font-size: 18px;
    caret-color: white;
    background-color: #4395DC;
    color: white;
    padding: 0 20px;
    padding-left: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border: none;
}

.card-details i {
    position: absolute;
    left: 10px;
    top: 16px;
    color: #ffe4be;
    font-size: 18px;
}

.card-details span {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 10px;
    color: #000;
    right: 10px;
    top: 15px;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-details span:hover {
    opacity: 1;
}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: 17px;
    color: #4395DC;
    border-radius: 10px;
    background-color: #fcdba8;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
}

.sign-in:hover {
    background-color: #b7a486;
}

.sign-up {
    margin-top: 30px;
    color: #7c7c7c;
}

.sign-up a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

.sign-up a:hover {
    color: #f4d5a8;
}

.warning {
    border: 2px solid red !important;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
    text-align: left;
    display: block;
}