@import url('https://unpkg.com/css.gg@2.0.0/icons/css/user.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/mail.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/key.css');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/468/358/original/flat-airplane-icon-on-blue-background-free-vector.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #fff;
}

.container {
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: auto;
    width: 320px;
    border-radius: 10px;
    background-color: #68BBE3;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

.card-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
}

.card-details i {
    margin-right: 10px;
    font-size: 20px;
}

.card-details p {
    margin: 0;
    color: white;
}

.card-details span {
    font-size: 15px;
    color: #333;
}