<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Samolot</title>
    <link rel="stylesheet" href="/css/employee.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<header th:replace="~{fragments/header :: header}"></header>

<body>
<div class="container">
    <div class="card">
        <div class="top-row">
            <h1>Dodaj Samolot</h1>
        </div>

        <form th:action="@{/employee/addAircraft}" th:object="${aircraft}" method="post">
            <div class="card-details">
                <label for="aircraftName">Nazwa samolotu</label>
                <input id="aircraftName" th:field="*{model}" type="text" placeholder="Wpisz nazwę samolotu">
                <div th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="invalid-feedback"></div>
            </div>
            <div class="card-details">
                <label for="capacity">Ilość miejsc</label>
                <input id="capacity" th:field="*{capacity}" type="number" placeholder="Wpisz ilość miejsc">
                <div th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" class="invalid-feedback"></div>
            </div>

            <div th:if="${message}" th:text="${message}" class="message"></div>

            <input type="submit" class="add-aircraft" value="Dodaj samolot">
        </form>
    </div>
</div>

</body>
</html>