<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administracyjny</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet"  href="/css/header.css">
</head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="container">
        <div class="card">
            <div class="top-row">
                <h1>Panel administracyjny</h1>
                <button onclick="window.location.href='/admin/assignRole'" class="subheader">Uprawnienia</button>
            </div>

            <div th:if="${message}" th:text="${message}" class="message"></div>
        </div>
    </div>
</body>
</html>