<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administracyjny</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

<div class="container">
    <div class="card">
        <div class="top-row">
            <h1>Panel administracyjny</h1>
            <p class="sub-header">Nadawanie uprawnień użytkownikom</p>
        </div>

        <form th:action="@{/admin/assignRole}" method="post">
            <div class="card-details">
                <label for="username">Wybierz użytkownika</label>
                <select id="username" name="username">
                    <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
                </select>
            </div>

            <div class="card-details">
                <label for="role">Rola</label>
                <select id="role" name="role">
                    <option value="USER">USER</option>
                    <option value="EMPLOYEE">EMPLOYEE</option>
                    <option value="ADMIN">ADMIN</option>
                </select>
            </div>

            <input type="submit" class="assign-role" value="Nadaj rolę">
        </form>
    </div>
</div>

<!--<h2>Wybierz użytkownika, któremu chcesz nadać uprawnienia</h2>
<form th:action="@{/updateRole}" th:method="post">
    <select id="user" name="user">
        <option th:each="user : ${users}" th:value="${user.getUser_id()}">
            <span th:text="${user.getUsername()}"></span>
        </option>
    </select>
    <select id="role" name="role">
        <option th:each="role : ${roles}" th:value="${role}">
            <span th:text="${role}"></span>
        </option>
    </select>
    <input type="submit" value="Nadaj uprawnienia">
</form>-->
</body>
</html>