<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zmień Hasło</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<form method="post" th:action="@{/changePassword}" th:object="${user}" >
    <div class="container">
        <div class="card">
            <div class="top-row">
                <h1>Zmień Hasło</h1>
                <p>Zaktualizuj swoje hasło</p>
            </div>

            <div class="card-details">
                <i class="gg-lock"></i>
                <input name="password" type="password" class="password-field" placeholder="Wpisz aktualne hasło" th:value="*{password}" th:errorclass="is-invalid">
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
                <div th:if="${error}" class="invalid-feedback" th:text="${error}"></div>
                <span class="toggle-password"><i class="gg-eye"></i></span>
            </div>

            <div class="card-details">
                <i class="gg-lock"></i>
                <input name="newPassword" type="password" class="password-field" placeholder="Wpisz nowe hasło" th:value="*{newPassword}" th:errorclass="is-invalid">
                <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="invalid-feedback"></div>
                <span class="toggle-password"><i class="gg-eye"></i></span>
            </div>

            <div class="card-details">
                <i class="gg-lock"></i>
                <input name="rpassword" type="password" class="password-field" placeholder="Powtórz nowe hasło" th:value="*{rpassword}" th:errorclass="is-invalid">
                <div th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}" class="invalid-feedback"></div>
                <span class="toggle-password"><i class="gg-eye"></i></span>
            </div>

            <input type="submit" class="sign-in" value="Zmień Hasło">
            <p class="sign-up"><a href="/home">Powrót do strony głównej</a></p>
        </div>
    </div>
</form>
<script src="/js/showPassword.js"></script>
</body>
</html>