<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zmień Hasło</title>
    <link rel="stylesheet" href="/css/userData.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="container">
    <div class="card">
        <h1>Zmień Hasło</h1>
        <form  method="post">
            <div class="form-group">
                <label for="currentPassword">Aktualne Hasło:</label>
                <input type="password" id="currentPassword" name="currentPassword" required>
            </div>
            <div class="form-group">
                <label for="newPassword">Nowe Hasło:</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">Potwierdź Nowe Hasło:</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
            </div>
            <button type="submit">Zmień Hasło</button>
        </form>
    </div>
</main>
</body>
</html>