<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlightAlright</title>
    <link rel="stylesheet" href="/css/flights.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="flights-container">
        <div class="flights" th:each="flight : ${flights}" th:if="${flight.getStatus() == true}">
            <div  class="flight-info">
                <div class="info">
                    <strong>
                        <span th:text="${#temporals.format(flight.departure_time, 'yyyy-MM-dd HH:mm')}"></span>
                    </strong>
                    <span th:text="${flight.departure_point}"></span>
                <p class="ico"><i class="gg-airplane"></i></p>
                    <strong>
                        <span th:text="${#temporals.format(flight.arrival_time, 'yyyy-MM-dd HH:mm')}"></span>
                    </strong>
                    <span th:text="${flight.destination}"></span>
                </div>

                <form method="post" th:action="@{/reservation(flightId=${flight.flight_id})}">
                    <input type="hidden" name="flightId" th:value="${flight.flight_id}"/>
                    <button type="submit">Wybierz <span th:text="${flight.price}"></span> zł</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>