<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlightAlright</title>
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet"  href="/css/header.css">
</head>
<header th:replace="~{fragments/header :: header}"></header>

<body>
    <div class="search-form">
        <form th:action="@{/flights/search}" th:method="get">
            <input type="text" name="departure" placeholder="Miejsce wylotu" required>
            <input type="date" name="departure_date" placeholder="Data wylotu"/>
            <input type="text" name="destination" placeholder="Miejsce przylotu" required>
            <input type="date" name="arrival_date" placeholder="Data przylotu"/>
            <button type="submit">Szukaj</button>
        </form>

        <div th:class="message-container" th:if="${message}" class="message">
            <p th:text="${message}"></p>
        </div>
    </div>
</body>
</html>