<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlightAlright</title>
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet"  href="/css/header.css">
</head>
<header th:replace="fragments/header :: header"></header>

<body>
    <div class="logged-user" th:if="${user != null}">
        <p th:text="'Zalogowany: ' + ${user.username}"></p>
    </div>

    <div class="search-form">
        <form>
            <input type="text" name="departure" placeholder="Miejsce wylotu">
            <input type="text" name="destination" placeholder="Miejsce przylotu">
            <input type="date" placeholder="Data przylotu"/>
            <input type="date" placeholder="Data wylotu"/>
            <input type="number" name="passengers" placeholder="🙍‍♂️" min="1" max="10">
            <button type="submit">Szukaj</button>
        </form>
    </div>
</body>
</html>