<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna - Linie Lotnicze</title>
    <link rel="stylesheet" href="/css/HomeCSS.css">
</head>
<body>
<h2>Witaj w Centrum Linii Lotniczych!</h2>
<p>Jeśli jesteś członkiem naszych linii lotniczych, możesz się <a href="/login">zalogować tutaj</a>.</p>
<p>Jeśli jesteś nowy w naszych liniach lotniczych, możesz się <a href="/register">zarejestrować tutaj</a>, aby dołączyć do naszego programu lojalnościowego.</p>
</body>
</html>