<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<form th:action="@{/login}" th:object="${user}" method="post">
    <div class="container">
        <div class="card">
            <div class="top-row">
                <h1>Witaj ponownie!</h1>
                <p>Podaj adres e-mail i hasło</p>

                <div th:if="${message}" th:text="${message}"></div>
                <div th:if="${error}" th:text="${error}" class="error-message"></div>

            </div>

            <div class="card-details">
                <input name="username" type="text" placeholder="Wpisz nazwę użytkownika">
                <i class="fa fa-envelope"></i>
            </div>

            <div class="card-details">
                <input name="password" type="password" id="password-input" placeholder="Wpisz hasło">
                <i class="fa fa-lock"></i>
                <span><small class="fa fa-eye-slash passcode"></small></span>
            </div>

            <p class="forget">Nie pamiętasz hasła?</p>
            <input type="submit" class="sign-in" value="Zaloguj się">
            <p class="sign-up">Nie masz konta? <a href="/register"> Załóż je</a></p>
        </div>
    </div>
</form>
</body>
</html>
