<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/LoginCSS.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<form th:action="@{/login-submit}" th:object="${user}" method="post">
    <div class="container">
        <div class="card">
            <div class="top-row">
                <h1>Welcome again!</h1>
                <p>Log in with your email and password</p>
            </div>
            <div class="card-details">
                <input name="username" type="text" placeholder="Enter your name">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="card-details">
                <input name="password" type="password" id="password-input" placeholder="Enter your password">
                <i class="fa fa-lock"></i>
                <span><small class="fa fa-eye-slash passcode"></small></span>
            </div>
            <p class="forget">Forgot your password?</p>
            <input type="submit" class="sign-in" value="Login">
            <p class="sign-up">Don't have an account?<a href="/register"> Sign up</a></p>
        </div>
    </div>
</form>
</body>
</html>
