<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/RegisterCSS.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<form th:action="@{/register-submit}" th:object="${user}" method="post">
    <div class="container">
        <div class="card">
            <div class="top-row">
                <h1>Welcome!</h1>
                <p>Sign up for a new account</p>
            </div>
            <div class="card-details">
                <input name="username" type="text" placeholder="Enter your name">
                <i class="fa fa-user"></i>
            </div>

            <div class="card-details">
                <input name="password" type="password" id="password-input" placeholder="Enter your password">
                <i class="fa fa-lock"></i>
                <span><small class="fa fa-eye-slash passcode"></small></span>
            </div>
            <input type="submit" class="sign-in" value="Sign in">
            <p class="sign-up">Already have an account?<a href="/login"> Log in</a></p>
        </div>
    </div>
</form>
</body>
</html>