<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezerwacja zakończona</title>
    <link rel="stylesheet" href="/css/reservation.css">
    <link rel="stylesheet"  href="/css/header.css">
</head>
<header th:replace="~{fragments/header :: header}"></header>
<body>

<h1>Rezerwacja zakończona pomyślnie!</h1>
    <div>
        <span th:text="${session.loggedInUser.getUsername()}"></span>
    </div>
</body>
</html>