<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlightAlright - Rezerwacja</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reservation.css">
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="reservation-container">
        <h1 class="reservation-title">Rezerwacja lotu</h1>

        <form th:action="@{/personal-info}" th:object="${form}" method="post" class="reservation-form">

            <div>
                <label for="firstName" class="form-label">Imię:</label>
                <input type="text" id="firstName" name="firstName" class="form-input" th:field="${form.firstName}">
                <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="invalid-feedback"></div>
            </div>

            <div>
                <label for="lastName" class="form-label">Nazwisko:</label>
                <input type="text" id="lastName" name="lastName" class="form-input" th:field="${form.lastName}">
                <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="invalid-feedback"></div>
            </div>

            <div>
                <label for="email" class="form-label">Adres E-mail:</label>
                <input id="email" name="email" class="form-input" th:value="${session.loggedInUser.getEmail()}">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
            </div>

            <div>
                <label for="phoneNumber" class="form-label">Numer telefonu:</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" class="form-input" th:field="${form.phoneNumber}">
                <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="invalid-feedback"></div>
            </div>

            <div>
                <label for="address" class="form-label">Adres:</label>
                <input type="text" id="address" name="address" class="form-input" th:field="${form.address}">
                <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="invalid-feedback"></div>
            </div>

            <div>
                <label for="postCode" class="form-label">Kod pocztowy:</label>
                <input type="text" id="postCode" name="postCode" class="form-input" th:field="${form.postCode}">
                <div th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}" class="invalid-feedback"></div>
            </div>

            <div>
                <label for="city" class="form-label">Miasto:</label>
                <input type="text" id="city" name="city" class="form-input" th:field="${form.city}">
                <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="invalid-feedback"></div>
            </div>

            <div>
                <label for="baggage" class="form-label">Bagaż:</label>
                <select id="baggage" name="baggage" class="form-input">
                    <option selected value="BRAK">Brak bagażu</option>
                    <option value="PODRECZNY">Bagaż podręczny</option>
                    <option value="ZWYKLY">Bagaż zwykły</option>
                </select>
            </div>

            <button type="submit" class="submit-button">Zarezerwuj</button>
        </form>
    </div>
</body>
</html>