<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlightAlright - Usunięcie lotu</title>
    <link rel="stylesheet" href="/css/reservation.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="reservation-container">
        <h1 class="reservation-title">Dostępne samoloty</h1>

        <h5>Usunięcie samolotu spowoduje usunięcie powiązanych z nim lotów!</h5>

        <div th:each="aircraft : ${aircrafts}" th:if="${aircraft.getStatus() != false}">
            <hr>

            <form th:action="@{/employee/deleteAircraft}" method="post" class="reservation-form display-flex">
                <label class="form-label"><span class="form-input bold-text" style="font-size: 20px" th:text="${aircraft.getModel() + ', Ilość miejsc: ' + aircraft.getCapacity()}"></span></label>
                <input type="hidden" name="aircraftId" th:value="${aircraft.getAircraft_id()}"/>
                <button type="submit" class="delete-btn btn btn-outline-danger">Usuń</button>
            </form>
        </div>
    </div>

</body>
</html>