<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil Użytkownika</title>
    <link rel="stylesheet"  href="/css/userData.css">
    <link rel="stylesheet"  href="/css/header.css">
</head>
<body>
<header class="header">
    <div class="header-content">
        <a href="/" class="home-link">
            <div class="logo-container">
                <i class="gg-airplane"></i>
                <p>FlightAlright</p>
            </div>
        </a>
        <a href="/flights" class="flights-link">
            <p>Spis lotów</p>
        </a>
    </div>
</header>
<main class="container">
    <div class="card">
        <h1>Profil Użytkownika</h1>
        <div class="card-details">
            <p><strong>Nazwa użytkownika:</strong> <span th:text="${session.loggedInUser.getUsername()}"></span></p>
        </div>
        <div class="card-details">
            <p><strong>Email:</strong> <span th:text="${session.loggedInUser.getEmail()}"></span></p>
        </div>
        <div class="card-details">
            <p><strong>Rola:</strong> <span th:text="${session.loggedInUser.getRole()}"></span></p>
        </div>
    </div>
</main>
</body>
</html>